<!DOCtYPE html>
<html lang="en">
<head>
  <title>Test Problem</title>
</head>
<header>Mock Page for Exercise<br><br></header>
<body>
<form id="frm" action="" method="post"><fieldset><legend class="form_name">Simple form with input fields for currency values</legend>
<label for="label1" id="lbl_val_1">Value 1</label> : <label for="text1" type="text" id="txt_val_1">$122,365.24</label><br>
<label for="label2" id="lbl_val_2">Value 2</label> : <label for="text2" type="text" id="txt_val_2">$599.00</label><br>
<label for="label3" id="lbl_val_3">Value 3</label> : <label for="text3" type="text" id="txt_val_3">$850,139.99</label><br>
<label for="label4" id="lbl_val_4">Value 4</label> : <label for="text4" type="text" id="txt_val_4">$23,329.50</label><br>
<label for="label5" id="lbl_val_5">Value 5</label> : <label for="text5" type="text" id="txt_val_5">$566.27</label><br>
<br><br>
<label for="totalLabel" id="lbl_ttl_val">Total Balance</label> : <label for="totalText" type="text" id="txt_ttl_val">$1,000,000.00</label>
</fieldset></form>
</body>
</html>
